
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@model List<Language_Center_Management.Models.Grade>

<h2>All Grades</h2>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
<a href="@Url.Action("Index", "Course")" class="btn btn-dark">Back</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Course ID</th>
            <th>Assignment Code</th>
            <th>Assignment Date</th>
            <th>Grade</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var grade in Model)
        {
            <tr>
                <td>@grade.Course_ID</td>
                <td>@grade.Assignment_Code</td>
                <td>@grade.Assignment_Date.ToString("dd/MM/yyyy")</td>
                <td>@grade.Assignment_Grade</td>
            </tr>
        }
    </tbody>
</table>